:root{
    --primary-first-color : #667eea;
    --primary-second-color : #764ba2;
    --secondary-first-color: #f093fb ;
    --secondary-second-color: #f5576c;
    /*Fondo del off-canvas: rgba(30, 30, 50, 0.98);*/
}